<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="img/icontitle.png" />
    <title>Liên hệ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="eCommerce HTML Template Free Download" name="keywords" />
    <meta content="eCommerce HTML Template Free Download" name="description" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="lib/slick/slick.css" rel="stylesheet" />
    <link href="lib/slick/slick-theme.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Top bar Start -->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-envelope"></i> trantrung4797@gmail.com
          </div>
          <div class="col-sm-6">
            <i class="fa fa-phone-alt"></i> +0123456789
          </div>
        </div>
      </div>
    </div>
    <!-- Top bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">MENU</a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto">
              <a href="/" class="nav-item nav-link active">Trang Chủ</a>
              <a href="/san-pham" class="nav-item nav-link">Sản Phẩm</a>
              <!-- <a href="product-detail.html" class="nav-item nav-link">Product Detail</a> -->
              <a href="/gio-hang/" class="nav-item nav-link">Giỏ Hàng</a>
              <a href="/thanh-toan" class="nav-item nav-link">Thanh Toán</a>
              <a href="/users/tai-khoan" class="nav-item nav-link"
                >Tài khoản của bạn</a
              >
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  >Trang khác</a
                >
                <div class="dropdown-menu">
                  <a href="/wishlist" class="dropdown-item"
                    >Sản phẩm đã thích</a
                  >
                  <a href="/lien-he" class="dropdown-item">Liên hệ</a>
                </div>
              </div>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  >Tài khoản</a
                >
                <div class="dropdown-menu">
                  <a href="/users/dang-nhap" class="dropdown-item">Đăng nhập</a>
                  <a href="/users/dang-ky" class="dropdown-item">Đăng ký</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-3">
            <div class="logo">
              <a href="/">
                <img src="img/logocakes.png" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="search">
              <input type="text" placeholder="Search" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="user">
              <a href="/wishlist" class="btn wishlist">
                <i class="fa fa-heart"></i>
                <span>(0)</span>
              </a>
              <a href="/gio-hang" class="btn cart">
                <i class="fa fa-shopping-cart"></i>
                <span>(0)</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/san-pham">Products</a></li>
          <li class="breadcrumb-item active">Contact</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="contact-info">
              <h2>About Me</h2>
              <h3>
                <i class="fa fa-map-marker"></i>Quận Liên Chiểu,Tp Đà Nẵng
              </h3>
              <h3><i class="fa fa-envelope"></i>trantrung4797@gmail.com</h3>
              <h3><i class="fa fa-phone"></i>0123456789</h3>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-info">
              <h2>About Store</h2>
              <h3><i class="fas fa-info"></i>Backend: NodeJS</h3>
              <h3><i class="fas fa-info"></i>MVC NodeJS</h3>
              <h3><i class="fas fa-info"></i>RESTFUL API</h3>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://www.instagram.com/" target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.youtube.com/" target="_blank"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-form">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Your Name"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Your Email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Subject"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div>
                  <button class="btn" type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="contact-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61349.62126471568!2d108.17168633200136!3d16.04724839497301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0xfc14e3a044436487!2zxJDDoCBO4bq1bmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1673318717380!5m2!1svi!2s"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <div class="footter">
      <div class="headter">
        <ul>
          <li class="one">
            <img
              src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/facebook.png?1658469730713"
            />
          </li>

          <li class="two">
            <img
              src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/youtube.png?1658469730713"
            />
          </li>

          <li class="three">
            <img
              src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/tiktok.png?1658469730713"
            />
          </li>

          <li class="four">
            <img
              src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/zalo.png?1658469730713"
            />
          </li>
        </ul>
      </div>

      <div class="clr"></div>

      <div class="last">
        <ul>
          <li class="row1">
            <ul>
              <li><h3>Cherry Cakes</h3></li>
              <li>
                <p><b>Địa chỉ:</b> 97 Nguyễn Lương Bằng,Tp Đà Nẵng</p>
              </li>
              <li>
                <p><b>Số điện thoại:</b> 0935331047</p>
              </li>
              <li>
                <p><b>Email:</b> Trantrung4797@gmail.com</p>
              </li>
              <li>
                <img
                  src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/logo_bct.png?1658469730713"
                />
              </li>
            </ul>
          </li>
          <li class="row2">
            <ul>
              <li>
                <a href=""><h4>Hỗ trợ khách hàng</h4></a>
              </li>
              <li>
                <a href=""><p>Hướng dẫn mua hàng</p></a>
              </li>
              <li>
                <a href=""><p>Hướng dẫn thanh toán</p></a>
              </li>
              <li>
                <a href=""><p>Hướng dẫn giao nhận</p></a>
              </li>
              <li>
                <a href=""><p>Điều khoản dịch vụ</p></a>
              </li>
            </ul>
          </li>
          <li class="row3">
            <ul>
              <li>
                <a href=""><h4>Chính sách</h4></a>
              </li>
              <li>
                <a href=""><p>Chính sách bảo mật</p></a>
              </li>
              <li>
                <a href=""><p>Chính sách vận chuyển</p></a>
              </li>
              <li>
                <a href=""><p>Chính sách đổi trả</p></a>
              </li>
              <li>
                <a href=""><p>Chính sách quyền riêng tư</p></a>
              </li>
              <li>
                <a href=""><p>Quy định sử dụng</p></a>
              </li>
            </ul>
          </li>

          <li class="row4">
            <ul>
              <li>
                <a href=""><h4>Tổng đài hỗ trợ</h4></a>
              </li>
              <li>
                <a href=""><p>Gọi mua hàng: 0935331047 (8h-20h)</p></a>
              </li>
              <li>
                <a href=""><p>Gọi bảo hành: 0935331047 (8h-20h)</p></a>
              </li>
              <li>
                <a href=""><p>Gọi khiếu nại: 0935331047 (8h-20h)</p></a>
              </li>
              <li><h4>Phương thức thanh toán</h4></li>
              <li>
                <img
                  src="https://bizweb.dktcdn.net/100/436/204/themes/857705/assets/footer_trustbadge.jpg?1658469730713"
                />
              </li>
            </ul>
          </li>
        </ul>

        <div class="clr"></div>
        <p class="fina">
          © Bản quyền thuộc về Cherry Cakes | Cung cấp bởi Trung
        </p>
      </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>
</html>
